.cus-bg {
  background-color: #c4ece9;
}
.card:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.7s;
}
.selected {
  background-color: rgb(75, 161, 201);
  color: white;
}
.mb {
  margin-bottom: 20px;
}

.clip-bg {
  padding: 3rem 3rem 20rem 3rem !important;
}
.pointer {
  cursor: pointer;
}
@media (max-width: 768px) {
  .w-lg-100 {
    width: 100%;
  }
}
